@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow {
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.7);
    }
    /* Add the mask-effect utility */
    .mask-effect {
        --mask: 
        conic-gradient(from 110deg at top, #0000, #000 1deg 139deg, #0000 140deg) top/164.85px 51% repeat-x,
        conic-gradient(from -70deg at bottom, #0000, #000 1deg 139deg, #0000 140deg) bottom/164.85px 51% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
    }
}
